/* =Layout
-------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900&display=swap');

* {
    outline: none !important;
}

html {
    font-size: 10px;
}

/* Body */
body {
    background: #ffffff;
    font-family: 'Montserrat';
    font-size: 1.4rem;
}

main {
    min-height: 85vh;
}

/* Site Intro */
.site-intro {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 250px;
    background: #f4f4f4;
}

/*header css*/
a.header-plan-trip {
    display: block;
    height: 100%;
    background: #86c340;
    color: #fff;
    padding: 0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    padding-right: 15px;
}

span.ride-icon {
    display: block;
    min-width: 80px;
    height: 80px;
    background: url(../../image/bike.svg) no-repeat #8067bf;
    background-position: center;
    margin-right: 15px;
    background-size: 50px;
    filter: invert(1);

}

nav#is-site-navbar-primary {
    transition: all 0.7s;
}

nav#is-site-navbar-primary.scrollUp {
    transform: translateY(-80px);
}

nav#is-site-navbar-primary {
    background: #111 !important;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

ul#menu-main-menu li + li:after {
    content: '';
    position: absolute;
    top: 15px;
    left: -30px;
    height: 9px;
    width: 15px;
    background: url(img/menu-ico.png) no-repeat;
    background-position: center;
}

ul#menu-main-menu li {
    padding: 0 50px 0 0;
    position: relative;
}

ul#menu-main-menu a:hover, ul#menu-main-menu a:focus, ul#menu-main-menu a:active {
    color: #86c340;

}

ul#menu-main-menu a {
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    font-size: 14px;
    font-weight: 600;
}

.logo-container img {
    max-width: 110px;
    height: auto;

}

.logo-container {
    min-width: 220px;
    background: #fff;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*header css*/
/*himalayan hero slider*/
.himalayan-hero-slider {
    margin-top: 0px;
}

.hero-slider-item {
    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    display: flex;
    align-items: center;
}

.hero-caption h2 {
    font-size: 7.6rem;
    display: block;
    font-weight: 50;
    text-transform: uppercase;
    color: #fff;
    line-height: 7.8rem;
}

.hero-caption h2 span {
    font-weight: 900;
    display: block;
}

.hero-caption h2 + span {
    color: #f3b50d;
    font-size: 24px;
    text-transform: uppercase;
}

.arrow {
    text-align: center;
    margin: 8% 0;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.himalayan-hero-slider {
    position: relative;
}

.arrow.bounce a {
    color: #fff;
    text-decoration: none;

}

.arrow.bounce {
    position: absolute;
    bottom: -60px;
    right: 30px;
    z-index: 99999;
    color: #fff;
    height: 50px;
    width: 50px;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.arrow.bounce img {
    /* filter: invert(1); */
    width: 20px;
    transform: rotate(90deg);
}

.hero-caption h2 + span.dark {
    color: #111;
}

/*himalayan hero slider*/

/* =Post
-------------------------------------------------------------- */
article a h3 {
    color: #333333;
    margin-top: 0;
}

article h3:hover, article a:hover {
    color: #0056B3;
    text-decoration: none;
}

/* =Elements
-------------------------------------------------------------- */

/* Social Profiles */
.social-profiles {
    font-size: 24px;
    letter-spacing: 3px;
}

.searchform {
    padding: 15px;
    background: #f4f4f4;
    border: 1px solid #dedede;
}

/* Pagination Workaround */
.page-numbers {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.page-numbers > li {
    display: inline;
}

.page-numbers > li > a,
.page-numbers > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #428bca;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.page-numbers > li:first-child > a,
.page-numbers > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.page-numbers > li:last-child > a,
.page-numbers > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.page-numbers > li > a:hover,
.page-numbers > li > span:hover,
.page-numbers > li > a:focus,
.page-numbers > li > span:focus {
    color: #2a6496;
    background-color: #eee;
    border-color: #ddd;
}

.page-numbers > li > span.current > a,
.page-numbers > li > span.current > span,
.page-numbers > li > span.current > a:hover,
.page-numbers > li > span.current > span:hover,
.page-numbers > li > span.current > a:focus,
.page-numbers > li > span.current > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #428bca;
    border-color: #428bca;
}

.page-numbers > .disabled > span,
.page-numbers > .disabled > span:hover,
.page-numbers > .disabled > span:focus,
.page-numbers > .disabled > a,
.page-numbers > .disabled > a:hover,
.page-numbers > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.page-numbers-lg > li > a,
.page-numbers-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
}

.page-numbers-lg > li:first-child > a,
.page-numbers-lg > li:first-child > span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.page-numbers-lg > li:last-child > a,
.page-numbers-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.page-numbers-sm > li > a,
.page-numbers-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
}

.page-numbers-sm > li:first-child > a,
.page-numbers-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.page-numbers-sm > li:last-child > a,
.page-numbers-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* =Misc
-------------------------------------------------------------- */

.no-radius {
    border-radius: 0;
    moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.border {
    border: 1px solid red;
}

img {
    max-width: 100%;
}

/* =WordPress Core
-------------------------------------------------------------- */

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

nav#is-site-navbar-primary {
    padding: 0;
}

/* == WP CSS - post_class() == */

.post-id {
}

.post {
}

.page {
}

.attachment {
}

.sticky {
}

.hentry {
}

.category-misc {
}

.category-example {
}

.tag-news {
}

.tag-wordpress {
}

.tag-markup {
}

.gallery-caption {
}

.bypostauthor {
}

div#primary {
    width: 100%;
}

.himalayan-dirt {
    background: #f2f2f2;
    padding: 70px 0;
    width: 100%;
}

.himalayan-dirt p {
    font-size: 20px;
    line-height: 38px;
    font-weight: 300;
    color: #333;
}

section {
    padding: 120px 0;
    overflow: hidden;
}

.image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*featured rides*/
span.featured {
    display: inline-block;
    background: #f2f2f2;
    color: #aaa;
    text-transform: uppercase;
    padding: 1rem 2.5rem;
    font-size: 1.4rem;
}

.himalayan-dirt-discription h2 {
    font-size: 4.4rem;
    color: #00aeef;
    margin: 1.5rem 0;
}

.himalayan-dirt-discription {

}

.himalayan-dirt-discription p {
    color: #111;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.himalayan-dirt-discription, .himalayan-ride-image {
    margin-top: 6rem;
}

.himalayan-dirt-discription a:hover {
    opacity: 0.8;

}

.himalayan-dirt-discription a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    color: #00aeef;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #00aeef;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.himalayan-dirt-discription a:hover svg {
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
    transform: translateX(5px);

}

.himalayan-dirt-discription a svg, .himalayan-dirt-discription a svg path {
    max-width: 2rem;
    height: 2rem;
    fill: #00aeef !important;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

/*featured rides*/
/*about bimal gurun sectioln*/
.about-bimal .image-container:after {
    content: '';
    position: absolute;
    height: 60%;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 1) 100%);
    opacity: 1;
}

.about-bimal .image-container img {
    height: 100%;
    background: #111;
    width: auto;
    max-width: initial;
}

.name-info, .contact-info {
    width: 100%;
}

.bimal-info {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 4rem;
    display: flex;
    align-items: self-start;
    flex-wrap: wrap;
}

.contact-info {
    display: flex;
    align-items: flex-end;
}

.name-info span {
    display: block;
    color: #fff;
    font-weight: 100;

}

.name-info h2 + span {
    font-size: 2.8rem;

}

.name-info h2 {
    font-size: 9rem;
    line-height: 10rem;
    color: #111;
    font-weight: 700;
    text-transform: uppercase;

}

.contact-info span {
    font-weight: 600;
    font-size: 1.5rem;

}

.contact-info {
    display: flex;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 4rem;
    color: #fff;

}

.contact-info .cn + .cn {
    margin-left: 4rem;
    display: flex;
    align-items: center;

}

.contact-info .cn img {
    height: 2.6rem;
    width: 2.6rem;
    filter: invert(1);
    margin-right: 2rem;
}

.intro-bimal p {
    font-size: 1.6rem;
    color: #fff;
    margin-top: 3rem;
    line-height: 3rem;
}

.about-bimal {
    overflow: hidden;
}

.intro-bimal {
    height: 100%;
    background: #111;
    padding: 4rem;
}

.video-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    height: 100%;
    width: 100%;
    opacity: 0.2;
}

.himalayan-intro-video iframe {
    margin-bottom: -1.5rem;
}

/*about bimal gurun sectioln*/
/*himalayan dirt happy riders*/
#himalayan-dirt-happy-riders {
    background: url(../../image/himalayan-dirt-testimonial.png) no-repeat #e4e6e5;
    background-position: bottom center;
    min-height: 100vh;
    padding-bottom: 60rem;
}

.riders-text .rider-words {
    background: #00aeef;
    padding: 4rem;
}

.riders-text .rider-image {
    min-width: 310px;
}

.riders-text {
    display: flex;
}

.riders-text .rider-words p {
    font-size: 2.2rem;
    line-height: 3.5rem;
    color: #fff;
}

.rider-words svg {
    height: 30px;
    margin-bottom: 5px;
}

.riders-text .rider-words {
    background: #00aeef;
    padding: 20px 30px;
    padding: auto 0;
    vertical-align: middle;
}

.rider-name p {
    font-size: 1.6rem !important;
    line-height: 2rem !important;
    margin-top: 2.2rem;
    font-weight: 600;
}

.rider-name p span {
    font-weight: 100;
    display: block;
    font-size: 1.6rem;
}

.section-title h2 {
    font-weight: 100;
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
}

.section-title {
    margin-bottom: 90px;
    text-align: center;
}

.section-title span {
    font-size: 1.7rem;
    text-transform: uppercase;
}

/*himalayan dirt happy riders*/
section#himalayan-dirt-rides {
    background: #fff;
}

footer {
    background: url(../../image/himalayan-dirt-footer.png) no-repeat #333333;
    background-position: right center;
    padding: 80px 0;
}

.footer-title h2 {
    color: #fff;
    font-weight: 600;
    font-size: 2.2rem;
    margin-bottom: 0;
}

.footer-title span {
    color: #aaa;
    font-size: 1.6rem;
}

.social-icons a:hover {
    opacity: 0.8;

}

.social-icons {
    margin-top: 50px;
    margin-bottom: 50px;

}

.social-icons a {
    display: inline-block;
    margin-right: 15px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.social-icons {
    display: flex;
    width: 100%;
}

a.btn.footer-contact:hover, form#quickContact .submit:hover {
    max-width: 190px

}

a.btn.footer-contact, form#quickContact .submit {
    font-size: 1.5rem;
    color: #fff;
    background: #87c440;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 180px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

a.btn.footer-contact svg, form#quickContact .submit svg {
    width: 20px;
}

.copyRight p a {
    color: #fff;
    font-weight: 700;

}

.copyRight p {
    color: #727473;

}

.copyRight {
    margin-top: 50px;
}

main.container-fluid.clearfix.my-5 {
    margin-bottom: 0 !important;
}

div#happy-riders .owl-nav {
    position: absolute;
    background: #86c340;
    width: 100px;
    right: -20px;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    height: 45px;
}

div#happy-riders .owl-nav button.owl-prev {
    transform: rotate(180deg);

}

div#happy-riders .owl-nav button:hover {
    background-color: #7ab537;

}

div#happy-riders .owl-nav button {
    width: 50%;
    background: url(../../image/arrow-white.svg) no-repeat;
    background-size: 20px;
    background-position: center;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

div#happy-riders .owl-nav button span {
    display: none;
}

/*back to top button*/
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    visibility: hidden;
}

#back-to-top:hover {
    background: #86c340;

}

#back-to-top.show {
    opacity: 1;
    visibility: visible;
}

a#back-to-top {
    background: #111;
    transform: rotate(270deg);
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a#back-to-top img {
    width: 20px;
}

.himalayan-contact {
    background: #222222;
    padding: 50px 30px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.contact-item img {
    width: 30px;
    filter: invert(1);
    margin-right: 30px;
}

.contact-item.location {
    color: #fff;
    font-weight: 700;

}

.contact-item {
    display: flex;
    color: #aaa;
    align-items: center;
    font-size: 1.6rem;
    margin-top: 3rem;
}
.himalayan-hero-inner{
    position: relative;
}
/*innper page rides*/
section#himalayan-rides span.featured {
    margin-top: 20px;

}
section#himalayan-rides .himalayan-dirt-discription h2 {
color: #111;
    font-size: 2.4rem;
    margin: 30px 0;
    font-weight: 600;
}
section#himalayan-rides .himalayan-dirt-discription p {
    color: #777;
    margin-top: 5rem;
    font-size: 1.6rem;
    line-height: 2.4rem;

}
section#himalayan-rides .himalayan-dirt-discription a {
    width: 70%;
    color: #111;
    border-color: #111;
}
section#himalayan-rides .himalayan-dirt-discription a svg,  section#himalayan-rides .himalayan-dirt-discription a svg path{
fill: #111 !important;
}
.ride-item {
    margin-bottom: 80px;
}
.bottom-contact h2 + span{
    color: #fff;
    font-size: 24px;

}
.bottom-contact h2{
    font-size: 5rem;
    line-height: 6.3rem;
    color: #fff;
    font-weight: 300;
}
.bottom-contact {
    background: #000;
    padding: 120px 0;
}
form#quickContact input[type=text], form#quickContact input[type=email] {
    background: #121212;
    border: none;
    min-height: 45px;
    margin-bottom: 15px;
    border-radius: 2px;
    color: #4e4e4e;
    font-size: 1.5rem;
    padding-left: 1.5rem;
}
form#quickContact .submit{
    width: 100%;
    font-size: 1.8rem;
}