/* =Layout
-------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900&display=swap');

* {
    outline: none !important;
}

html {
    font-size: 10px;
    overflow-x: hidden;
}

/* Body */
body {
    background: #ffffff;
    font-family: 'Montserrat';
    font-size: 1.4rem;
    overflow-x: hidden;
}

main {
    min-height: 85vh;
}

/* Site Intro */
.site-intro {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 250px;
    background: #f4f4f4;
}

/*header css*/
a.header-plan-trip {
    display: block;
    height: 100%;
    background: #86c340;
    color: #fff;
    padding: 0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    padding-right: 15px;
}

span.ride-icon {
    display: block;
    min-width: 80px;
    height: 80px;
    background: url(../../image/bike.svg) no-repeat #8067bf;
    background-position: center;
    margin-right: 15px;
    background-size: 50px;
    filter: invert(1);

}

nav#is-site-navbar-primary {
    transition: all 0.7s;
}

nav#is-site-navbar-primary.scrollUp {
    transform: translateY(-80px);
}

nav#is-site-navbar-primary {
    background: #111 !important;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

ul#menu-main-menu li + li:after {
    content: '';
    position: absolute;
    top: 15px;
    left: -30px;
    height: 9px;
    width: 15px;
    background: url(img/menu-ico.png) no-repeat;
    background-position: center;
}

ul#menu-main-menu li {
    padding: 0 50px 0 0;
    position: relative;
}

ul#menu-main-menu a:hover, ul#menu-main-menu a:focus, ul#menu-main-menu a:active, li.current_page_item.active > a {
    color: #86c340 !important;

}

ul#menu-main-menu a {
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    font-size: 14px;
    font-weight: 600;
}

.logo-container img {
    max-width: 110px;
    height: auto;

}

.logo-container {
    min-width: 220px;
    background: #fff;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*header css*/
/*himalayan hero slider*/
.himalayan-hero-slider {
    margin-top: 0px;
}

.hero-slider-item {
    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    display: flex;
    align-items: center;
}

.hero-caption h2 {
    font-size: 5.6rem;
    display: block;
    font-weight: 100;
    text-transform: uppercase;
    color: #fff;
    line-height: 7.8rem;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.8)
}

.hero-caption h2 span {
    font-weight: 900;
    display: block;
}

.hero-caption h2 + span {
    color: #f3b50d;
    font-size: 24px;
    text-transform: uppercase;
}

.arrow {
    text-align: center;
    margin: 8% 0;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.himalayan-hero-slider {
    position: relative;
}

.arrow.bounce a {
    color: #fff;
    text-decoration: none;

}

.arrow.bounce {
    position: absolute;
    bottom: -60px;
    right: 30px;
    z-index: 99999;
    color: #fff;
    height: 50px;
    width: 50px;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 999999;
}

.arrow.bounce img {
    /* filter: invert(1); */
    width: 20px;
    transform: rotate(90deg);
}

.hero-caption h2 + span.dark {
    color: #111;
}

/*himalayan hero slider*/

/* =Post
-------------------------------------------------------------- */
article a h3 {
    color: #333333;
    margin-top: 0;
}

article h3:hover, article a:hover {
    color: #0056B3;
    text-decoration: none;
}

/* =Elements
-------------------------------------------------------------- */

/* Social Profiles */
.social-profiles {
    font-size: 24px;
    letter-spacing: 3px;
}

.searchform {
    padding: 15px;
    background: #f4f4f4;
    border: 1px solid #dedede;
}

/* Pagination Workaround */
.page-numbers {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.page-numbers > li {
    display: inline;
}

.page-numbers > li > a,
.page-numbers > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #428bca;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.page-numbers > li:first-child > a,
.page-numbers > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.page-numbers > li:last-child > a,
.page-numbers > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.page-numbers > li > a:hover,
.page-numbers > li > span:hover,
.page-numbers > li > a:focus,
.page-numbers > li > span:focus {
    color: #2a6496;
    background-color: #eee;
    border-color: #ddd;
}

.page-numbers > li > span.current > a,
.page-numbers > li > span.current > span,
.page-numbers > li > span.current > a:hover,
.page-numbers > li > span.current > span:hover,
.page-numbers > li > span.current > a:focus,
.page-numbers > li > span.current > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #428bca;
    border-color: #428bca;
}

.page-numbers > .disabled > span,
.page-numbers > .disabled > span:hover,
.page-numbers > .disabled > span:focus,
.page-numbers > .disabled > a,
.page-numbers > .disabled > a:hover,
.page-numbers > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.page-numbers-lg > li > a,
.page-numbers-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
}

.codegena iframe {
    border: none;
}

.page-numbers-lg > li:first-child > a,
.page-numbers-lg > li:first-child > span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.page-numbers-lg > li:last-child > a,
.page-numbers-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.page-numbers-sm > li > a,
.page-numbers-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
}

.page-numbers-sm > li:first-child > a,
.page-numbers-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.page-numbers-sm > li:last-child > a,
.page-numbers-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* =Misc
-------------------------------------------------------------- */

.no-radius {
    border-radius: 0;
    moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.border {
    border: 1px solid red;
}

img {
    max-width: 100%;
}

/* =WordPress Core
-------------------------------------------------------------- */

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

nav#is-site-navbar-primary {
    padding: 0;
}

/* == WP CSS - post_class() == */

.post-id {
}

.post {
}

.page {
}

.attachment {
}

.sticky {
}

.hentry {
}

.category-misc {
}

.category-example {
}

.tag-news {
}

.tag-wordpress {
}

.tag-markup {
}

.gallery-caption {
}

.bypostauthor {
}

div#primary {
    width: 100%;
}

.himalayan-dirt {
    background: #42afef;
    padding: 70px 0;
    width: 100%;
}

.himalayan-dirt p {
    font-size: 20px;
    line-height: 38px;
    font-weight: 300;
    color: #fff;
}

section {
    padding: 120px 0;
    overflow: hidden;
}
#supporters {
    padding: 40px 0;
}

.image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

/*featured rides*/
span.featured {
    display: inline-block;
    background: rgba(0, 0, 0, 0.1);
    color: #aaa;
    text-transform: uppercase;
    padding: 1rem 2.5rem;
    font-size: 1.4rem;
}

.himalayan-dirt-discription h2 {
    font-size: 4.4rem;
    color: #fff;
    margin: 1.5rem 0;
}

.himalayan-dirt-discription {

}

.himalayan-dirt-discription p {
    color: #999;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.himalayan-dirt-discription, .himalayan-ride-image {
    margin-top: 6rem;
}

.himalayan-dirt-discription a:hover {
    opacity: 0.8;

}

.himalayan-dirt-discription a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    color: #00aeef;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #00aeef;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.himalayan-dirt-discription a:hover svg {
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
    transform: translateX(5px);

}

.himalayan-dirt-discription a svg, .himalayan-dirt-discription a svg path {
    max-width: 2rem;
    height: 2rem;
    fill: #00aeef !important;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

/*featured rides*/
/*about bimal gurun sectioln*/
.about-bimal .image-container:after {
    content: '';
    position: absolute;
    height: 60%;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 1) 100%);
    opacity: 1;
}

.about-bimal .image-container img {
    width: 100%;
    background: #111;
    height: auto;
    max-width: initial;
}

.name-info, .contact-info {
    width: 100%;
}

.bimal-info {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 4rem;
    display: flex;
    align-items: self-start;
    flex-wrap: wrap;
}

.contact-info {
    display: flex;
    align-items: flex-end;
}

.name-info span {
    display: block;
    color: #fff;
    font-weight: 100;

}

.name-info h2 + span {
    font-size: 2.2rem;

}

.name-info h2 {
    font-size: 6rem;
    line-height: 7rem;
    color: #111;
    font-weight: 700;
    text-transform: uppercase;

}

.contact-info span {
    font-weight: 600;
    font-size: 1.4rem;

}

.contact-info {
    display: flex;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 4rem;
    color: #fff;

}

.contact-info .cn + .cn {
    margin-left: 4rem;
    display: flex;
    align-items: center;

}

.contact-info .cn img {
    height: 2.0rem;
    width: 2.0rem;
    filter: invert(1);
    margin-right: 1rem;
}

.intro-bimal p {
    font-size: 1.5rem;
    color: #fff;
    margin-top: 3rem;
    line-height: 3rem;
}

.about-bimal {
    overflow: hidden;
}

.intro-bimal {
    height: 100%;
    background: #191919;
    padding: 4rem;
}

.video-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    height: 100%;
    width: 100%;
    opacity: 0.2;
}

.himalayan-intro-video iframe {
    margin-bottom: -1.5rem;
}

/*about bimal gurun sectioln*/
/*himalayan dirt happy riders*/
#himalayan-dirt-happy-riders {
    background: url(../../image/himalayan-dirt-testimonial.png) no-repeat #498adc;
    background-position: bottom center;
    min-height: 100vh;
    padding-bottom: 60rem;
}

.riders-text .rider-words {
    background: #00aeef;
    padding: 4rem;
}

.riders-text .rider-image {
    min-width: 310px;
}

.riders-text {
    display: flex;
}

.riders-text .rider-words p {
    font-size: 2.2rem;
    line-height: 3.5rem;
    color: #fff;
}

.rider-words svg {
    height: 30px;
    margin-bottom: 5px;
}

.riders-text .rider-words {
    background: #00aeef;
    padding: 20px 30px;
    padding: auto 0;
    vertical-align: middle;
}

.rider-name p {
    font-size: 1.6rem !important;
    line-height: 2rem !important;
    margin-top: 2.2rem;
    font-weight: 600;
}

.rider-name p span {
    font-weight: 100;
    display: block;
    font-size: 1.6rem;
}

.section-title h2 {
    font-weight: 100;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.section-title {
    margin-bottom: 30px;
    text-align: center;
}

.section-title span {
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #fff;
}

/*himalayan dirt happy riders*/
section#himalayan-dirt-rides {
    background: #111;
}

footer {
    background: url(../../image/himalayan-dirt-footer.png) no-repeat #333333;
    background-position: right center;
    padding: 80px 0;
}

section.himalayan-intro-video {
    background: #111;
}

.footer-title h2 {
    color: #fff;
    font-weight: 600;
    font-size: 2.2rem;
    margin-bottom: 0;
}

.footer-title span {
    color: #aaa;
    font-size: 1.6rem;
}

.intro-video-container {
    margin-top: -2px;
}

.social-icons a:hover {
    opacity: 0.8;

}

.social-icons {
    margin-top: 50px;
    margin-bottom: 50px;

}

.social-icons a {
    display: inline-block;
    margin-right: 15px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.social-icons {
    display: flex;
    width: 100%;
}

a.btn.footer-contact:hover, #quickContact .submit:hover, .planBtn:hover, .bookNow:hover {
    max-width: 190px

}

a.btn.footer-contact, #quickContact .submit, .planBtn, .bookNow {
    font-size: 1.5rem;
    color: #fff;
    background: #87c440;
    padding: 10px 15px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    max-width: 180px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    cursor: pointer;
    border: none;
}

#quickContact + div.wpcf7-mail-sent-ok {
    color: #398f14 !important;

}

#quickContact + .wpcf7-validation-errors {
    color: #f7e700 !important;
}

a.btn.footer-contact svg, #quickContact .submit svg, .planBtn svg, .bookNow svg {
    width: 20px;
}

.copyRight p a {
    color: #fff;
    font-weight: 700;

}

.copyRight p {
    color: #727473;

}

.copyRight {
    margin-top: 50px;
}

main.container-fluid.clearfix.my-5 {
    margin-bottom: 0 !important;
}

div#happy-riders .owl-nav {
    position: absolute;
    background: #86c340;
    width: 100px;
    right: -20px;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    height: 45px;
}

div#happy-riders .owl-nav button.owl-prev {
    transform: rotate(180deg);

}

div#happy-riders .owl-nav button:hover {
    background-color: #7ab537;

}

div#happy-riders .owl-nav button {
    width: 50%;
    background: url(../../image/arrow-white.svg) no-repeat;
    background-size: 20px;
    background-position: center;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

div#happy-riders .owl-nav button span {
    display: none;
}

/*back to top button*/
.back-top-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    visibility: hidden;
}

.back-top-top:hover {
    background: #86c340;

}

.back-top-top.show {
    opacity: 1;
    visibility: visible;
}

a.back-top-top {
    background: #111;
    transform: rotate(270deg);
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.back-top-top img {
    width: 20px;
}

.himalayan-contact {
    background: #222222;
    padding: 50px 30px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.contact-item img {
    width: 30px;
    filter: invert(1);
    margin-right: 30px;
}

.contact-item.location {
    color: #fff;
    font-weight: 700;

}

.contact-item {
    display: flex;
    color: #aaa;
    align-items: center;
    font-size: 1.6rem;
    margin-top: 3rem;
}

.himalayan-hero-inner {
    position: relative;
    overflow: hidden;
}

/*innper page rides*/
section#himalayan-rides span.featured {
    margin-top: 20px;

}

section#himalayan-rides .himalayan-dirt-discription h2 {
    color: #111;
    font-size: 2.4rem;
    margin: 30px 0;
    font-weight: 600;
}

section#himalayan-rides .himalayan-dirt-discription p {
    color: #777;
    margin-top: 5rem;
    font-size: 1.6rem;
    line-height: 2.4rem;

}

section#himalayan-rides .himalayan-dirt-discription a {
    width: 70%;
    color: #111;
    border-color: #111;
}

section#himalayan-rides .himalayan-dirt-discription a svg, section#himalayan-rides .himalayan-dirt-discription a svg path {
    fill: #111 !important;
}

.ride-item {
    margin-bottom: 80px;
}

.bottom-contact h2 + span {
    color: #fff;
    font-size: 24px;

}

.bottom-contact h2 {
    font-size: 5rem;
    line-height: 6.3rem;
    color: #fff;
    font-weight: 300;
}

.bottom-contact {
    background: #000;
    padding: 120px 0;
}

input[type=text], input[type=email], input[type=date], select.form-control {
    background: #121212;
    border: none;
    min-height: 45px;
    margin-bottom: 15px;
    border-radius: 2px;
    color: #4e4e4e;
    font-size: 1.5rem;
    padding-left: 1.5rem;
    width: 100%;
}

div#formTrip select,
div#formTrip input[type=date],
div#formTrip input[type=email],
div#formTrip input[type=text] {
    background: #fff;
    border: 1px solid #eee;
}

div#formTrip [role="form"] {
    padding: 0 30px 30px;
}

select.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 1.5rem center !important;
    background-size: 8px 10px !important;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#quickContact .submit {
    width: 100%;
    font-size: 1.8rem;
}

.ride-item.blog {
    background: #fff;
    box-shadow: 0 0 21px 0 rgba(17, 17, 17, 0.09);

}

.ride-item.blog .himalayan-dirt-discription {
    padding: 20px;

}

.ride-item.blog .himalayan-dirt-discription a {
    max-width: 60%;

}

.ride-item.blog .himalayan-dirt-discription p {
    color: #777;
    font-size: 1.3rem;

}

.ride-item.blog .himalayan-dirt-discription h2 {
    font-size: 1.8rem;
    color: #111;
    font-weight: 600;
    margin-top: 0;
}

body.modal-open > :not(.modal) {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

div#formTrip .modal-dialog {
    max-width: 950px;
}

div#formTrip .modal-body {
    padding: 0;
}

div#formTrip .form-titles {
    padding: 30px 30px 0;

}

div#formTrip div#wpcf7-f5-o1 {
    padding: 0 30px 30px;
}

.image-ad {
    background: url(../../image/trip-bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.form-titles p {
    color: #777;
    line-height: 2.4rem;
    margin-bottom: 30px;
}

.form-titles h2 {
    font-size: 3rem;
    font-weight: 100;
    color: #111;
    margin-bottom: 10px;
}

.image-ad:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, #216de0, #0092ed, #00a9be, #00b76e, #86b915);
    opacity: 0.1;
}

.orCall {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
}

button.planBtn {
    margin: 0 auto;
    border-radius: 3px;
}

.single-ride-nav {
    display: flex;
    padding: 15px;
    background: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
}

.bookButton {
    width: 220px;
}

.tab-links {
    width: 100%;
}

.single-rides-nav li a:hover, .single-rides-nav li a.activeScroll {
    color: #87c440;
}

.single-rides-nav li a {
    color: #666;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-transform: uppercase;

}

.single-rides-nav li {
    margin-right: 25px;

}

.single-rides-nav {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
    align-items: center;
}

.ride-content:first-child {
    margin-top: 40px;

}

.ride-content {
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}

.ride-content-title h2 {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}

.ride-item p {
    color: #111;
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 500;
}

ul.nav.nav-tabs li a.active {
    color: #87c440;
}

ul.nav.nav-tabs li a {
    color: #666;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}

.nav.nav-tabs li {
    margin-right: 25px;
    /* margin-bottom: 25px; */
}

ul.nav.nav-tabs {
    background: #f2f2f2;
    margin-bottom: 15px;
    padding: 15px;
}

.single-ride-nav {
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;

}

.single-ride-nav.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 9999;
}

div#himalayanDirt {
    width: 100%;
}

.single-ride-nav.sticky.topMenuVisible {
    top: 80px;
    box-shadow: none;
}

.bottom-contact {
    width: 100%;
}

.gj-picker.gj-picker-bootstrap.datepicker.gj-unselectable {
    filter: none !important;
}

span.input-group-append {
    display: none;
}

.close-boking {
    height: 50px;
    width: 50px;
    background: url(../../image/close.svg) #fff;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
    /* transform: rotate(180deg); */
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

.himalayan-hero-slider .owl-dots {
    position: absolute;
    width: 100%;
}

.himalayan-hero-slider .owl-dots {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 20px;
    transform: rotate(90deg);
    top: 0;
    left: 280px;
}

.himalayan-hero-slider .owl-dots .owl-dot.active {
    background: #fff;

}

.himalayan-hero-slider .owl-dots .owl-dot {
    height: 15px;
    width: 15px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin: 0 5px;
}

.mobile-contact-bar .back-top-top img {
    width: 20px;
    transform: rotate(270deg);

}

.mobile-contact-bar {
    position: fixed;
    width: 100%;

    display: flex;
    align-items: center;
    /* justify-content: center; */
    background: #87c440;
    z-index: 999;
    bottom: -80px;
    left: 0;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.mobile-contact-bar .back-top-top {
    height: 50px;
    width: 50px;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    position: static;
}

.mobile-contact-bar .call-now,
.mobile-contact-bar .plan-trip {
    height: 50px;
    display: flex;
    align-items: center;
    background: #42afef;
    width: 50%;
    justify-content: center;
}

.mobile-contact-bar .plan-trip {
    /* background: rgba(0,0,0,0.2); */
    background: #2897d8;
    color: #fff;
}

.mobile-contact-bar a, .mobile-contact-bar {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}

.mobile-contact-bar.show-bar {
    bottom: 0;
}

section.about-content p {
    text-align: left;
    font-size: 1.8rem;
    line-height: 3rem;
}

section.about-content img {
    height: auto;
}

.mobile-contact-bar a {
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

div#single-rides:hover .owl-nav button.owl-next,
div#single-rides:hover .owl-nav button.owl-prev {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

div#single-rides .owl-nav button {
    height: 80px;
    width: 80px;
    /* opacity: 0.3; */
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

div#single-rides .owl-nav {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    top: 0;
    left: 0;

}

div#single-rides .owl-nav button.owl-next {
    background: #111;
    transform: translateX(80px);
}

div#single-rides .owl-nav button.owl-prev {
    background: #111;
    transform: translateX(-80px);
}

.single-caption-option {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 99;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 7%, rgba(17, 17, 17, 1) 100%);
    padding-bottom: 30px;
    min-height: 40%;
    display: flex;
    align-items: flex-end;
}

.single-caption-option .hero-caption h2 + span.dark {
    color: #f0b849;
}

#map iframe {
    width: 100%;
    height: 400px;
}

.ride-content li {
    margin-bottom: 18px;
    line-height: 2.5rem;
}

ul.nav.nav-tabs li {
    margin-bottom: 0;
}

.js-tilt-glare {
    pointer-events: none;
}

div#single-rides:hover .owl-nav button.owl-next span, div#single-rides:hover .owl-nav button.owl-prev span {
    color: #fff;
    font-size: 3.5rem;
}

div#tripOverview {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

}

div#tripOverview.sticky {
    position: fixed;
    top: 80px;
    width: 350px;
}

.dark-bg {
    background: #111;
}

@media screen and (max-width: 767px) {
    a.header-plan-trip {
        display: none;
    }

    div#navbarDropdown.show {
        left: 0;

    }

    div#navbarDropdown {
        position: fixed;
        height: 100%;
        background: #111;
        width: 220px;
        top: 80px;
        padding: 15px;
        left: -220px;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
    }

    button.navbar-toggler {
        border: none;
        height: 100%;
        display: block;
        width: 80px;
    }

    nav#is-site-navbar-primary {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .icon-bar {
        width: 30px;
        height: 2px;
        background-color: #B6B6B6;
        display: block;
        transition: all 0.2s;
        margin: 6px auto;
    }

    .navbar-toggler {
        border: none;
        background: transparent !important;
    }

    .navbar-toggler .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
    }

    .navbar-toggler .middle-bar {
        opacity: 0;
    }

    .navbar-toggler .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
    }

    .navbar-toggler.collapsed .top-bar {
        transform: rotate(0);
    }

    .navbar-toggler.collapsed .middle-bar {
        opacity: 1;
    }

    .navbar-toggler.collapsed .bottom-bar {
        transform: rotate(0);
    }


    div#navbarDropdown div#ishouvik-navbar-collapse-primary {
        display: block;
    }

    div#navbarDropdown {
        display: block;
    }

    .contact-info {
        flex-wrap: wrap;
        justify-content: start;
    }

    .contact-info .cn + .cn {
        margin-left: 0;
        margin-top: 20px;
        width: 100%;
    }

    .name-info h2 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .media-page-content {
        padding: 3rem 0 0 !important;
    }

    footer.site-footer .row.d-flex.justify-content-between {
        flex-direction: column-reverse;
    }

    footer.site-footer {
        background: #333;
    }

    .himalayan-contact.aos-init.aos-animate {
        margin-bottom: 30px;
    }

    .bottom-contact h2 + span {
        font-size: 1.8rem;
    }

    .bottom-contact h2 {
        font-size: 3rem;
        line-height: 3.3rem;
    }

    #quickContact {
        margin-top: 30px;
    }

    section#himalayan-dirt-rides .himalayan-dirt-discription {
        padding: 0 !important;

    }

    section#himalayan-dirt-rides {
        padding: 30px;
    }

    section#himalayan-dirt-rides .row:nth-child(2) {
        flex-direction: column-reverse;
    }

    .riders-text .rider-image {
        display: none;
    }

    .riders-text {
        padding: 0 30px 30px;

    }

    .riders-text .rider-words p {
        font-size: 2.0rem;
    }

    div#happy-riders .owl-nav {
        right: 20px;
        bottom: 30px;
    }

    .hero-slider-item {
        height: 80vh;
    }

    .single-ride-nav .container.d-flex.justify-content-between {
        flex-wrap: wrap;
    }

    button#bookNow {
        margin-left: 0 !important;
        margin-top: 15px;
    }

    .single-rides-nav li {
        margin-right: 0 !important;
    }

    .single-rides-nav {
        justify-content: space-between;
    }

    .bookButton {
        width: 100%;
    }

    button#bookNow {
        max-width: 100%;
        width: 100%;
    }

    .arrow.bounce {
        margin: 0 0 18%;
    }

    ul#menu-main-menu li {
        margin: 10px 0;
    }

    .himalayan-contact.himalaya-address {
        margin-top: 40px !important;
    }

    .form-group.d-flex.justify-content-between {
        flex-wrap: wrap;
    }

    .media-contact-page {
        padding-bottom: 4rem !important;
    }

    section[id*=media-post], .bottom-contact {
        padding: 30px;
    }

    .close-boking {
        height: 30px;
        width: 30px;
    }

    .name-info h2 + span {
        font-size: 1.4rem;
    }


}
section#supporters img {
    max-width: 150px!important;
    margin: 0 auto;
}